
<h2><b><a {{action 'goTo' 'children'}}>Children </a></b></h2>
<ul>
    <li>Raise funds to empower our underprivileged children with the right training & skill-set for a better future.</li>
    <li>Raise funds to ensure that every child receives proper nutrition and food.</li>
    <li>Raise funds to provide children the right medical treatment for various diseases.</li>
</ul>
<br>


<div class="row">

   
    <div class="col-md-auto" {{action 'campaignDetails' 'assets/image/child1.jpg' 'Lets help all children learn and follow their dreams' 'U can change lives' 'by Dhananjay Patil'}}>
        <div class="thumbnail">
            <h3 align="center"> U can change lives </h3>
            <img src="assets/image/child1.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Let's help all children learn and follow their dreams <br><br></p>
                <br>
                <p align="right"> -Dhananjay Patil </p>
            </div>
        </div>
    </div>
   

    
    <div class="col-md-auto" {{action 'campaignDetails' 'assets/image/child2.jpg' 'Gift a Dream Camp to children in shelters. Donate to provide positive exposure' 'Gift a Dream Camp' 'by Risabh Sharma'}}>
        <div class="thumbnail">
            <h3 align="center"> Gift a Dream Camp </h3>
            <img src="assets/image/child2.jpg" alt="Lights" class="img-rounded">
            <div class="caption">  
                <p>Gift a Dream Camp to children in shelters. Donate to provide positive exposure </p>
                <br>
                <p align="right"> -Risabh Sharma </p>
            </div>
        </div>
    </div>
    

    
    <div class="col-md-auto" {{action 'campaignDetails' 'assets/image/child3.jpg' 'Baby is suffering from Acute Lymphoblastic Leukemia please help her ' 'Help baby fight cancer' 'by Arun Hossamani'}}>
        <div class="thumbnail">
            <h3 align="center"> Help baby fight cancer</h3>
            <img src="assets/image/child3.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                
                <p> Baby is suffering from Acute Lymphoblastic Leukemia please help her <br></p>
                <br>
                 <p align="right"> -Arun Hossamani </p>
            </div>
        </div>
    </div>
  
<!--<div class="col-md-auto" {{action 'campaignDetails' 'assets/image/child1.jpg' 'Lets help all children learn and follow their dreams' 'U can change lives' 'by Dhananjay Patil'}}>
        <div class="thumbnail">
            <h3 align="center"> U can change lives </h3>
            <img src="assets/image/child1.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Let's help all children learn and follow their dreams <br><br></p>
                <br>
                <p align="right"> -Dhananjay Patil </p>
            </div>
        </div>
    </div>

<div class="col-md-auto" {{action 'campaignDetails' 'assets/image/child3.jpg' 'Baby is suffering from Acute Lymphoblastic Leukemia please help her ' 'Help baby fight cancer' 'by Arun Hossamani'}}>
        <div class="thumbnail">
            <h3 align="center"> Help baby fight cancer</h3>
            <img src="assets/image/child3.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                
                <p> Baby is suffering from Acute Lymphoblastic Leukemia please help her <br></p>
                <br>
                 <p align="right"> -Arun Hossamani </p>
            </div>
        </div>
    </div>-->
  
</div>

