<h2><b><a {{action 'goTo' 'education'}}>Education </a></b></h2>
<ul>
    <li>Pooling in small amount of funds from a large number of people online to fund your educational utilities and related expenses.</li>
    <li>Using the power of Internet to share your educational dreams with your loved ones and seek support in getting admission in your dream school.</li>
</ul>
<br>
<div class="row row-eq-height">
    <div class="col-md-4" {{action 'campaignDetails' 'assets/image/edu01.jpg' 'Let’s educate these 29 kids from shelter homes!' 'Seed Funding' 'by Sweta Vahia'}}>
        <div class="thumbnail">
            <h3 align="center"> Seed Funding </h3>
            <img src="assets/image/edu01.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Let’s educate these 29 kids from shelter homes!<br> <br></p>
                <br>
                <p align="right"> -Sweta Vahia </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" {{action 'campaignDetails' 'assets/image/edu2.jpg' 'Pursuit of Happiness - Educate a Girl .. Educate of Generation !!' 'Pursuit of Happiness - Save Girl Child !!' 'by Rakesh Bharati'}}>
        <div class="thumbnail">
            <h3 align="center"> Pursuit of Happiness </h3>
            <img src="assets/image/edu2.jpg" alt="Lights" class="img-rounded">
            <div class="caption">
                <p>Pursuit of Happiness - Educate a Girl .. Educate of Generation !!<br> <br></p>
                <br>
                <p align="right"> -Rakesh Bharati </p>
            </div>
        </div>
    </div>
    <div class="col-md-4" {{action 'campaignDetails' 'assets/image/edu3.jpg' 'Let’s aims at giving women from low income groups dignity, through education' 'Powering Possibilities' 'by Shraddha Kharat'}}>
        <div class="thumbnail">
            <h3 align="center"> {{campaigntitle}} </h3>
            <img src="assets/image/edu3.jpg" alt="Lights" class="img-rounded">
            <div class="caption">

           <!--     <p>Let’s aims at giving women from low income groups dignity, through education <br></p>-->
                <p>{{content}}<br></p>
                <br>
                <p align="right"> -Shraddha Kharat </p>
            </div>
        </div>
    </div>
     

</div>


















