<div class="container-fluid login_bg mt20">
   <div class="container">
      <footer class="navbar-fixed-bottom navbar-inverse">
         <div class="row">
            <div class="col-sm-4  navbar-text">
               <div class="mouse" {{action "toggleModel"}}>Help?
            </div>
            <div class="mouse" {{action "gotofaqs"}}>FAQ's
         </div>
   </div>
   <div class="col-sm-4  center-align navbar-text">
   <p class="text-muted">Copyright &copy; 2017 RapidQube</p>  
   </div>
   <div class="nav navbar-nav navbar-right" >
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <div class="col-sm-12" align="center">
   <div class="col-sm-3">
        <a href="#" target="_blank" class="fa fa-facebook" {{action 'facebook'}}></a>
   </div>
   <div class="col-sm-3">
        <a href="#" target="_blank" class="fa fa-twitter"  {{action 'twitter'}}></a>
   </div>
   <div class="col-sm-3">
         <a href="#" target="_blank" class="fa fa-linkedin" {{action 'linkedin'}}></a>
   </div>
   </div>
   </div>
</div>
</footer>
</div>
</div>
