<script>
    //To place an active class for any menu item clicked
    $('#menu > ul.nav li a').click(function(e) {
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
        e.preventDefault();
    });
</script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Logo and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
             {{#link-to "home"}} <img src="assets/image/Rapidqube-Logo.jpg">{{/link-to}}
         </span>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{#if showAdminHeaderModules}}
                    <li>{{#link-to "introvideo"}}How its Works{{/link-to}}</li>               
                    {{#if showStartCampaign}}
                    <li>{{#link-to "start-campaign"}}Start Campaign{{/link-to}}</li>
                    {{/if}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Campaigns<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="mouse"><a {{action 'goTo' 'Education'}}>Education</a></li>
                            <li class="mouse"><a {{action 'goTo' 'Children'}}>Children</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="mouse"><a {{action 'goTo' 'Animal-welfare'}}>Animal Welfare</a></li>
                            <li><a {{action 'goTo' 'Environment'}}>Environment</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="mouse"><a {{action 'goTo' 'Film'}}>Film</a></li>
                            <li class="mouse"><a {{action 'goTo' 'Dance'}}>Dance</a></li>
                        </ul>
                    </li>
                    {{#if showFunderModules}}
                        <!--<li>{{#link-to "funder-history"}}Funder History{{/link-to}}</li>-->
                        <li>{{#link-to "report"}}Report{{/link-to}}</li>
                        <li>{{#link-to "funder_dashboard"}}Dashboard{{/link-to}}</li>
                    {{/if}}
                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if showUser}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user">&nbsp;{{userType}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="mouse"><a {{action 'logout'}}>&nbsp;Logout</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li>
                        {{#link-to "login"}}<span class="glyphicon glyphicon-user">&nbsp;{{userType}}</span> {{/link-to}}
                    </li>
                {{/if}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>