<div class="login-background">
        <div class="login-box">
            <div class="login-box-body">
                <div class="text-color-title">
                    <h2><b>Choose a new password</b></h2>
                </div>
                <br>
                <div class="col-sm-6-btm">
                    <div class="form-inline">
                    <br>
                    <div class="text-reset">
                        <div class="input-group">
                            <h5>strong password is a combination of letters and punctuation marks. It must be at least 6 characters long.</h5>
                            <div class="resetpassword">                                	                         
                                {{validated-input type="password" model=this valuePath='newpassword' placeholder='New Password' }}
                            </div>
                            <div class="helppassword">
                            <button type="button" class="btn btn-color" {{action 'toggleModal'}}>?</button>
                            {{#if isShowingModal}}
                            {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
                              <p>As you create your password, remember the following:</p>
                              <p>It should not contain your name.</p>
                              <p>It should not contain a common dictionary word.</p>
                              <p>It should contain one or more numbers.</p>
                              <p>It should have both upper and lower case characters.</p>
                              <p>It should be at least 6 characters long.</p>
                            {{/modal-dialog}}
                            {{/if}}
                            </div>
                        </div>
                    </div>
                    <br>
                    </div>
                    <br><br>
                    <div class="btngroup">
                    <button type="button" class="btn btn-color" {{action 'toggleModal1'}} disabled={{v-get this 'isInvalid'}}>Submit</button>
                     {{#if isShowingModals}}
                            {{#modal-dialog close="toggleModal1" targetAttachment="center" translucentOverlay=true}}
                              <p>Password successfully reset</p>
                              <button type="button" class="btn btn-color" {{action 'reset'}}>Ok</button>
                            {{/modal-dialog}}
                     {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

