<div class="container">
    <div class="row centered-form">
        <hr class="prettyline">
        <br/>
        <center>
            <h1><b>Welcome!</b></h1>
            <h4>You need to sign in or register for this service</h4>
            <br/>
            <br/>
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-color" {{action 'registerindividual'}}>Individual</button>
                <br/>or
                <br/>
                <br/>
                <button type="button" class="btn btn-color" {{action 'registerorganisation'}}>Organisation</button>
            </div>
        </center>
        <br/>
        <hr class="prettyline">
    </div>
</div>

{{#if isIndividualAuthorize}}
<div class="container">
    <div class="row main">
        <div class="panel-title text-center">
            <h1 class="title">Individual</h1>
        </div>
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='name' placeholder="Enter your Name" errormessage1=nameerror}}
                            {{nameerror}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='email' placeholder="Enter your Email" errormessage1=emailerror}}
                            {{emailerror}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-earphone"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='phonenumber' placeholder="Enter your Phone Number" errormessage1=phonenumbererror}}
                            {{phonenumbererror}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            {{validated-input type="password" model=this valuePath="password" placeholder='Password' errormessage1=passworderror}}
                            {{passworderror}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </div>
                            {{validated-input type="password" valuePath="confirmpassword" model=this placeholder='Retype Password' errormessage1=confirmpassworderror}}
                            {{confirmpassworderror}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-briefcase"></span>
                            </div>
                            <div class="documentdropdown">
                             {{select-component dropdowntype="Document Type" listitem=documenttype selecteditemlist=selectedtypes}}
                             {{documenttypeerror}}
                            </div>
                       </div>
                   </div>
              </div>
              <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-briefcase"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='documentdetail' placeholder="Enter your Document Detail" errormessage1=documentdetailerror}}
                            {{documentdetailerror}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='facebook' placeholder="Facebook Profile link(Optional)"}}
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='blog' placeholder="Blog Link(Optional)"}}
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='websiteurl' placeholder="Website URL(Optional)"}}
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-globe"></span>
                            </div>
                            {{validated-input type="text" model=this valuePath='youtube' placeholder="Youtube Channel link(Optional)"}}
                            {{error}}
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="button" class="btn btn-color" {{action "toggleModal"}}>Register</button>
                    {{#if isShowingModalsss}}
                        {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
                              <p>User account created. Please verify email address </p>
                              <p>to login and start using the website. Please check </p>
                              <p>the spam folder if you don’t find the message in</p>
                              <p>your inbox.</p>
                              <div class="modal-header">
                                    <button type="button" class="close" {{action "login1"}}>ok</button>
                              </div>
                        {{/modal-dialog}}
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}

{{#if isOrganisationAuthorize}}
{{#paper-stepper currentStep=currentStep onStepChange=(action (mut currentStep)) onStepperCompleted=(action "register") as |stepper|}}
      {{#stepper.step label="Org Info" as |step|}}
            {{#step.body}} {{!-- Content here. Probably some form. --}}
                  <div class="">
                        <div class="row main">
                              <div class="panel-title text-center">
                                    <h4 class="title">Organisation Information</h4>
                              </div>
                              <div class="main-login main-center">
                                    <form class="form-horizontal" method="post" action="#">
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-briefcase"></span>
                                                </div>
                                                <div class="organisationdropdown">
                                                {{select-component dropdowntype="Organisation Type" listitem=organisationtype selecteditemlist=selectedtype}}
                                                {{errormessage1}}
                                                </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-hand-right"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="Organisationname" placeholder="Enter Organisation Name" errormessage1=errormessage2}}
                                                {{errormessage2}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-envelope"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="emailid" placeholder="Enter Email Id" errormessage1=errormessage3}}
                                                {{errormessage3}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                 <div class="input-group">
                                                 <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-earphone"></span>
                                                 </div>
                                                 {{validated-input2 type="text" model=this valuePath='phonenumbers' placeholder="Enter Phone Number" errormessage1=phonenumberserror}}
                                                 {{phonenumberserror}}
                                                 </div>
                                           </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-credit-card"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="panno" placeholder="Pan No" errormessage1=pannoerror}}
                                                {{pannoerror}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-lock"></span>
                                                </div>
                                                {{validated-input2 type="password" model=this valuePath="passwords" placeholder='Password' errormessage1=passwordserror}}
                                                {{passwordserror}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-lock"></span>
                                                </div>
                                                {{validated-input2 type="password" valuePath="confirmpasswords" model=this placeholder='Retype Password' errormessage1=confirmpasswordserror}}
                                                {{confirmpasswordserror}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-globe"></span>
                                                </div>
                                                {{validated-input type="text" model=this valuePath='facebook' placeholder="Facebook Profile link(Optional)"}}
                                                {{error}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-globe"></span>
                                                </div>
                                                {{validated-input type="text" model=this valuePath='blog' placeholder="Blog Link(Optional)"}}
                                                {{error}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-globe"></span>
                                                </div>
                                                {{validated-input type="text" model=this valuePath='websiteurl' placeholder="Website URL(Optional)"}}
                                                {{error}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-globe"></span>
                                                </div>
                                                {{validated-input type="text" model=this valuePath='youtube' placeholder="Youtube Channel link(Optional)"}}
                                                {{error}}
                                                </div>
                                          </div>
                                    </div>
                                    <br/>
                                    </form>
                              </div>
                        </div>
                  </div>
            {{/step.body}}
            {{#step.actions as |nextStep previousStep|}}
                  {{#paper-button primary=true raised=true onClick=(action nextStep)}}
                        Continue
                  {{/paper-button}}
                  {{#paper-button onClick=(action previousStep)}}
                        Back
                  {{/paper-button}}
            {{/step.actions}}
      {{/stepper.step}}
      {{#stepper.step label="Key Contact Info" as |step|}}
            {{#step.body}} {{!-- Content here. Probably some form. --}}
                  <div class="">
                        <div class="row main">
                              <div class="panel-title text-center">
                                    <h4 class="title">Key Individual Contact Information</h4>
                              </div>
                              <div class="main-login main-center">
                                    <form class="form-horizontal" method="post" action="#">
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="fullname" placeholder="Enter your name" errormessage1=errormessage4}}
                                                {{errormessage4}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="enterdesignation" placeholder="Enter your Designation" errormessage1=errormessage5}}
                                                {{errormessage5}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-envelope"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="email2" placeholder="Enter your Email Id" errormessage1=errormessage6}}
                                                {{errormessage6}}
                                                </div>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                          <div class="cols-sm-10">
                                                <div class="input-group">
                                                <div class="input-group-addon">
                                                      <span class="glyphicon glyphicon-earphone"></span>
                                                </div>
                                                {{validated-input2 type="text" model=this valuePath="phoneno" placeholder="Enter your Phone Number" errormessage1=errormessage7}}
                                                {{errormessage7}}
                                                </div>
                                          </div>
                                    </div>
                                    <!--<div class="form-group ">
                                    <button type="button" class="btn btn-color">Register</button>
                                    </div>-->
                                    </form>
                              </div>
                        </div>
                  </div>
            {{/step.body}}
            {{#step.actions as |nextStep previousStep|}}
                  {{#paper-button primary=true raised=true onClick=(action "toggleModal1")}}
                        Register
                  {{/paper-button}}
                  
                  {{#if isShowingModals}} 
                        {{#modal-dialog close="toggleModal1" targetAttachment="center" translucentOverlay=true}}
                              <p>Some Fields are invalid and Empty.Please</p>
                              <p>fill those Fields..!!!!</p>
                        {{/modal-dialog}}
                  {{/if}}
                  
                  {{#if isShowingModalss}}
                        {{#modal-dialog close="toggleModal1" targetAttachment="center" translucentOverlay=true}}
                              <p>User account created.Please verify email address </p>
                              <p>to login and start using the website.Please check </p>
                              <p>the spam folder if you don’t find the message in</p>
                              <p>your inbox.</p>
                              <div class="modal-header">
                                    <button type="button" class="close" {{action "login"}}>ok</button>
                              </div>
                        {{/modal-dialog}}
                  {{/if}}
                  
                  {{#paper-button onClick=(action previousStep)}}
                        Back
                  {{/paper-button}}
            {{/step.actions}}
      {{/stepper.step}} {{!-- add as many steps as necessary --}} 
{{/paper-stepper}}
{{/if}}